body {
    width: 90%;
    max-width: 1200px;
}



#carouselExampleIndicators {
  max-width: 100%; 
  margin: 0 auto;  
}


.carousel-item img {
  width: 100%;     
  height: 500px;   
  object-fit: cover; 
}
